body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  height: 3800px;
}

p {
  font-weight: bold;
}
input {
  width: 25px;
  height: 25px;
}

/* Default font size */
.quiz-form {
  font-size: 16px;
  padding: 20px;
  /* Add padding for better spacing on mobile */
}
.reset-submit-btns {
  display: flex;
  justify-content: center;
  text-align: center;
}
.bottom-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

/* Submit button style */
.submit-button {
  background-color: #3682f4;
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 50px;
  width: auto;
  height: auto;
  padding: 50px 65px;
  font-weight: bold;
}

/* Reset button style */
.reset-button {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  border-radius: 4px;
  width: auto;
  height: auto;
  padding: 50px 65px;
  font-weight: bold;
}

label {
  width: 30px;
}

/* Style for button hover effect */
.submit-button:hover,
.reset-button:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 757px) {
  label {
    font-size: 30px;
  }

  body {
    height: 3000px;
  }
}
#result{
  font-size: 45px ;
  color: aliceblue;
}
